 body{
   height: 100%;
   width: 100%;
 }
 
 html{
  min-height: 100%;
  height: 100%;
   width: 100%;
}
main{
  min-height: 100%;
  height: 100%;
   width: 100%;
}

 .flex{
   display:inline-flex;
 }

 /* Container holding the image and the text */
.containerI {
  position: relative;
  display: inline-block;
  margin:10px;
  
}

.dailyRecipe{
  width: 90%;
  height: 90%;
  max-width: 90%;
  border-radius: 10%;

}
.arrow{
  position: absolute;
  top:10px;
  right: 5%;
  top: 40%;
  width: 10%;
  max-width:10%;
}

.arrowL{
  position: absolute;
  top:10px;
  left: -5%;
  top: 40%;
  width: 10%;
  max-width:10%;
  transform: scaleX(-1);
}
 /* Bottom right text */
.text-block {
  position: absolute;
  bottom: 20%;
  left: 5%;
  background-color: rgba(00, 00, 00, 0.5);
  min-height:70%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}
 .menuItemBg{
   background-color:#E4C59B ;
   border-radius:50%;
   border:none;
 }
 .menuItemAlign{
  display:flex;
  align-items:center;
  justify-content:center;
 }
 .menuItemSize{
    height:160px;
    width:160px;
   margin-top:50px;
     flex-grow: 0;
     flex-shrink: 0;
 }
 .menuItemSizeBIG{
  height:200px;
  width:200px;
   flex-grow: 0;
   flex-shrink: 0;
}

 .menuPic{
   height:100px;
   width:100px;
 }
 
 /* The side navigation menu */
 .sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    border-right: #d1d1d1 ;
    border-right-width: 1px;
    border-right-style: solid;
    
    background-color: #FFFFFF; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } 

  .yellowColor{
    background-color: #FFE3AA;
  }