 body {
     height: 100%;
     width: 100%;
     background-image: url(../assets/fundotransparencia.jpg);
     background-size: cover;
 }
 
 html {
     min-height: 100%;
     height: 100%;
     width: 100%;
 }
 
 main {
     min-height: 100%;
     height: 100%;
     width: 100%;
 }
 
 .flex {
     display: inline-flex;
 }
 /* Container holding the image and the text */
 
 .containerI {
     position: relative;
     display: inline-block;
     margin: 10px;
 }
 
 .dailyRecipe {
     width: 90%;
     height: 90%;
     max-width: 90%;
     border-radius: 10%;
 }
 
 .arrow {
     position: absolute;
     top: 10px;
     right: 5%;
     top: 40%;
     width: 10%;
     max-width: 10%;
 }
 
 .arrowL {
     position: absolute;
     top: 10px;
     left: -5%;
     top: 40%;
     width: 10%;
     max-width: 10%;
     transform: scaleX(-1);
 }
 /* Bottom right text */
 
 .text-block {
     position: absolute;
     bottom: 20%;
     left: 5%;
     background-color: rgba(00, 00, 00, 0.5);
     min-height: 70%;
     color: white;
     padding-left: 20px;
     padding-right: 20px;
 }
 
 .menuItemBg {
     background-color: #E4C59B;
     border-radius: 50%;
     border: none;
 }
 
 .menuItemAlign {
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .menuItemSize {
     height: 160px;
     width: 160px;
     margin-top: 50px;
     flex-grow: 0;
     flex-shrink: 0;
 }
 
 .menuItemSizeBIG {
     height: 200px;
     width: 200px;
     flex-grow: 0;
     flex-shrink: 0;
 }
 
 .menuPic {
     height: 100px;
     width: 100px;
 }
 /* The side navigation menu */
 
 .sidenav {
     height: 100%;
     /* 100% Full-height */
     width: 0;
     /* 0 width - change this with JavaScript */
     position: fixed;
     /* Stay in place */
     z-index: 1;
     /* Stay on top */
     top: 0;
     /* Stay at the top */
     left: 0;
     border-right: #d1d1d1;
     border-right-width: 1px;
     border-right-style: solid;
     background-color: #FFFFFF;
     overflow-x: hidden;
     /* Disable horizontal scroll */
     padding-top: 60px;
     /* Place content 60px from the top */
     transition: 0.5s;
     /* 0.5 second transition effect to slide in the sidenav */
 }
 /* The navigation menu links */
 
 .sidenav a {
     padding: 8px 8px 8px 32px;
     text-decoration: none;
     font-size: 15px;
     color: #818181;
     display: block;
     transition: 0.3s;
 }
 /* When you mouse over the navigation links, change their color */
 
 .sidenav a:hover {
     color: #f1f1f1;
 }
 /* Position and style the close button (top right corner) */
 
 .sidenav .closebtn {
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 50px;
 }
 /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
 
 #main {
     transition: margin-left .5s;
     padding: 20px;
 }
 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 
 @media screen and (max-height: 450px) {
     .sidenav {
         padding-top: 15px;
     }
     .sidenav a {
         font-size: 18px;
     }
 }
 
 .yellowColor {
     background-color: #FFE3AA;
 }
 
 .showmore {
     background-image: url(https://snipstock.com/assets/cdn/png/f8ae7b8732fb4b39a99dad8c97fdc664.png);
 }
 
 .autocomplete {
     /*the container must be positioned relative:*/
     position: relative;
     display: inline-block;
 }
 
 .autocomplete-items {
     position: absolute;
     border: 1px solid #d4d4d4;
     border-bottom: none;
     border-top: none;
     z-index: 99;
     /*position the autocomplete items to be the same width as the container:*/
     top: 100%;
     left: 0;
     right: 0;
 }
 
 .autocomplete-items div {
     padding: 10px;
     cursor: pointer;
     background-color: #fff;
     border-bottom: 1px solid #d4d4d4;
 }
 
 .autocomplete-items div:hover {
     /*when hovering an item:*/
     background-color: #e9e9e9;
 }
 
 .autocomplete-active {
     /*when navigating through the items using the arrow keys:*/
     background-color: DodgerBlue !important;
     color: #ffffff;
 }